// SYART COOKIES**************************
.cookiePolicy {
  // $baseColor: #53A9B7;
  $baseColor: #000;
  $cookiesHeight: 46px;

  box-sizing: border-box;
  position: fixed;
  z-index: 9999;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 48px;
  height: $cookiesHeight;
  line-height: $cookiesHeight;
  text-align: center;
  background-color: lighten(desaturate($baseColor, 16%), 24%);
  // color: darken(desaturate($baseColor, 16%), 24%);
  color:#fff;
  font-size: 14px;
  transform: translate3d(0, $cookiesHeight, 0);
  transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  opacity: 0;

  &.is-active {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  a {
    color: darken(saturate($baseColor, 24%),16%);
    text-decoration: none;
  }

  &__close {
    position: absolute;
    top: 50%;
    right: 16px;
    width: 12px;
    height: 12px;
    margin-top: -6px;
    cursor: pointer;

    svg {
      display: inline-block;
      fill: darken(saturate($baseColor, 24%),16%);
    }
  }
}


@media screen and (max-width: 1024px) {
  .cookiePolicy {
    height: auto;
    padding: 24px 48px;
    line-height: 1.4;


    &__close {
      top: 27px;
      margin: 0;
    }
  }
}
#accebtButton{
color: #fff;
background-color: #aa884f;
font-size: 12px;
letter-spacing: 3px;
line-height: 13px;
align-items: center;
cursor: pointer;
display: inline-flex;
font-weight: 600;
justify-content: center;
min-width: 110px;
padding: 10px 20px;
text-align: center;
border-radius: 30px;

}

#showCookiePolicyFooter{
  color:#aa884f;
}
div#ThankYouFooter.copyright{
  margin-bottom: 0;
  bottom: 0;
}
footer #ThankYouFoo{
  bottom: 0;
  position:absolute;text-align: center;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  
  overflow: hidden;
}
.ThankNote{
  text-align: center;
  align-items: center;
  vertical-align: middle;
  width: 100%;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  #cookieStatement{
    text-align: center;
    margin-bottom:0
   }
   #accebtButton{
     padding: 6px 10px;
   }
   .cookiePolicy {
     padding: 0;
     padding-bottom: 5px;
   }
}
.cookiePolicy a{
  color: #aa884f;
  text-decoration: underline;
}


//************************* end of cookies************************
h1{
  font-size: 40px;
  text-align: center;
  font-weight:900;
  font-family: 'Italianno', cursive;
  margin-top: 20px;
}
h2{
  text-align: center;
  font-weight:900;
  font-family: 'Italianno', cursive;
  margin-top: 20px;
  padding-top: 30px;
}
.mainheadings{
  font-size: 25px;
  text-align: center;
  // font-weight: 500;
  // font-family: 'Italianno', cursive;
  // font-family: 'Vollkorn SC', serif;
  font-family: 'Cormorant Garamond', serif;
  padding-top: 60px;
}
.mainHalign{
font-size: 27px;
}
span{
  font-weight: bold;
  font-style: italic;
}
.facilitiesHead{
  font-family: 'Buenard', serif;
  padding-top: 30px;
  margin-top: 100px;
  font-weight: bold;
}
.facilitiesContent{
  font-family: 'Buenard', serif;
  font-size: 18px;
  padding-bottom: 30px;
}
.contactDetails{
  font-family: 'Buenard', serif;
  text-align:center;
  font-size: 20px;
  padding-top: 100px;
  padding-bottom: 20px;
  border-top: 1px solid lightgrey;
  color:  #aa884f;
  // background-color: #aa884f;
}
.topheading{
  color: #aa884f;
}
.subheads{
  font-size: 35px;
  color: #aa884f;
  margin-top: 70px;
}
div.facilitiesHead{
  padding-bottom: 20px;
  color: #aa884f;
}

.mainHalign{
  padding-bottom: 40px;
  padding-top: 30px;
}
.mainHalignTop{
  padding-top: 30px;
}
.socialIcons{
  text-align: center;
  padding-bottom: 100px;
}
.Faci_margin2{
  padding-top: 0;
  padding-bottom: 20px;
}
.textStyles{
  font-size: 30px;
  color: #aa884f;
  font-weight: 500;
  padding-left: 20px;
  padding-right: 20px;
  }
.tripAdviserlogoSmall{
  display: none;
}
main.CookieDescripCl{
  text-align: center;
  // margin-left: 50%;
}
// ***********************************
header{
  grid-area: header;
}
.ArticleTopImg{
  grid-area: ArticleTopImg;
}
.ArticleTopMainHeading{
  grid-area: ArticleTopMainHeading;
}
.Article1_Left{
  grid-area: Article1_Left;
}
.Article1_Right{
grid-area: Article1_Right;
}
.Article2_Left{
  grid-area: Article2_Left;
}
.Article2_Right{
grid-area: Article2_Right;
}
.Article3_Left{
  grid-area: Article3_Left;
}
.Article3_Right{
grid-area: Article3_Right;
}
.Article4_Left{
  grid-area: Article4_Left;
  margin-top: 30px;
}
.Article4_Right{
grid-area: Article4_Right;
margin-top: 50px;
}
.socialIcons{
 grid-area: socialIcons;
}
.copyright{
  grid-area: copyright;
  text-align: center;
  font-family: 'Buenard', serif;
  font-size: 15px;
  border-top: 1px solid lightgrey;
}


@media only screen and (min-width: 600px)  { /*If the screen size is 500px min or more show below layout */
  .topwrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
             "header header"
             "ArticleTopImg ArticleTopImg"
             "ArticleTopMainHeading ArticleTopMainHeading"
             "Article1_Left Article1_Right"
             "Article2_Left Article2_Right"
             "Article3_Left Article3_Right"
             "Article4_Left Article4_Right"
             "section section"
             "contactDetails contactDetails"
             "socialIcons socialIcons"
             "copyright copyright";

       }
     display:flex;
     flex-direction:row;
     flex-flow:row;
}

@media only screen and (max-width: 600px)  { /*If the screen size is 600px max or less show below layout */
.topwrapper {
display: grid;
grid-template-columns: 1fr;
grid-template-areas:
           "header"
           "ArticleTopImg"
           "ArticleTopMainHeading"
           "Article1_Left"
           "Article1_Right"
           "Article2_Left"
           "Article2_Right"
           "Article3_Left"
           "Article3_Right"
           "Article4_Left"
           "Article4_Right"
           "section"
           "contactDetails"
           "socialIcons"
            "copyright";

      padding: 10px;
      display: block;
      margin: 0;
     }

     .topnav a{
       display:none;
     }
     .aboutushead1{
       padding-left: 10px;
       padding-right: 10px;
       text-align:center;
     }
     .aboutushead3{
       padding-left: 10px;
       padding-right: 10px;
     }

}

@media (min-width: 768px) and (max-width: 1024px)  {
  .topwrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
             "header header"
             "ArticleTopImg ArticleTopImg"
             "ArticleTopMainHeading ArticleTopMainHeading"
             "Article1_Left Article1_Right"
             "Article2_Left Article2_Right"
             "Article3_Left Article3_Right"
             "Article4_Left Article4_Right"
             "section section"
             "contactDetails contactDetails"
             "socialIcons socialIcons"
             "copyright copyright";

       }
     display:flex;
     flex-direction:row;
     flex-flow:row;
   }


// ##############################################################

@media only screen and (max-width: 600px)  {

.mainheadings{
  // font-family: 'Great Vibes', cursive;
  // font-family: 'Vollkorn SC', serif;
  font-family: 'Cormorant Garamond', serif;
  font-size: 16px;
  padding-top: 0;
  padding-bottom: 20px;
  }
  .mainHalign{
    font-size: 18px;
    // font-weight: 600;
    text-align: center;
  }
.topheading{
  font-weight: bold;
  font-size: 30px;
  padding-top: 10px;
}
.subheads{
    font-size: 30px;
}
h2{
  padding-top: 0;
}
.facilitiesHead{
  font-family: 'Buenard', serif;
  font-size: 15px;
  font-weight: bold;
  padding-top: 0;
}
.facilitiesContent{
  font-family: 'Buenard', serif;
  font-size: 15px;
  text-align:center;
}
.facilitiesHead{
  margin: 0;
}
footer{
  text-align: center;
}
.contactDetails{
  font-size: 17px;
  padding-top: 20px;
}
.home1PImg, .home3PImg, .home2PImg{
  margin: 0;
}
.adjmargine{
  margin-top: 20px;
}
.adjmargine2 {
  margin: 0;
}
.home3PImg{
  padding-top: 10px;
}
.socialIcons{
  padding-bottom: 20px;
}
.copyright{
  font-size: 13px;
}
.home2PImg, .home3PImg{
  display: none;
}
.mobilemargi3{
  margin-left: 0;
  margin-right: 0;
}
.mobilemargi1{
  margin-left: 0;
  margin-right: 0;
}
.adjmargine2{
  margin-top: 15px;
}
.tripAdviserlogoBig{
  display:none;
}

}


/****************** New Additions 23/07/2018***************** */
/* HOME page - toggle the images according to the screen size */
@media screen and (max-width: 600px) {
  .stay1_2Img {
  display: none;
  }
}
@media screen and (min-width: 600px) {
  .stay1_3Img {
  display: none;
  }
}
/* STAY page - toggle the images according to the screen size */
@media screen and (max-width: 600px) {
  .topmainImg {
  display: none;
  }
}
@media screen and (min-width: 600px) {
  .topmainImgSmall {
  display: none;
  }
}


/***** updated 23/07/2018 added to index page*/

.facilitiesHead, .facilitiesContent{
  color: darkgrey;
}
.allcontent{
  background-color: #c4c0b7;
}
.copyrmainclass{
  background-color: #fff;
}

// ###################  Tablets, Ipads style changes ##############################################
@media (min-width: 768px) and (max-width: 1024px)  {
.wlcomenote{
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  }
p.mainheadings{
  font-size: 18px;
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
}
#Sub_contents{
  font-size: 20px;
}
.subheads{
  margin-top: 0;
}
.mainheadings{
  padding-top: 0;
  padding-left: 12px;
  padding-right: 12px;
}
.facilitiesHead{
  margin-top: 0;
  padding-bottom: 8px;
}
.Article4_Right{
  margin-top: 25px;
}
div.topwrapper{
  margin-bottom: 10px;
}
div.facilitiesHead{
  font-size: 25px;
  margin-bottom: 60px;
}

}
// #######################################################################

// ###################  Laptops style changes ##############################################
@media (min-width: 720px) and (max-width: 1400px)  {
.wlcomenote{
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  }
p.mainheadings {
  font-size: 18px;
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
}
#Sub_contents{
  font-size: 20px;
}
.subheads{
  margin-top: 0;
}
.mainheadings{
  padding-top: 0;
  padding-left: 12px;
  padding-right: 12px;
}
.facilitiesHead{
  margin-top: 0;
  padding-bottom: 8px;
}
.Article4_Right{
  margin-top: 25px;
}
div.topwrapper{
  margin-bottom: 10px;
}
div.facilitiesHead{
  font-size: 25px;
  margin-bottom: 60px;
}

}

// ####### END ###############################################

//  scroll up button syling

#myBtn {
  display: none;
  position: fixed;
  // bottom: 20px;
  bottom: 4em;
  right: 10px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #aa884f;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
}

#myBtn:hover {
  background-color: #555;
}
// ######################################################################
.mySlides {display:none;}
