
/* ******** STYLES FOR THE CONTACT PAGE *************************** */
.headclass{
 grid-area: headclass;
}
.ArticleTopImgCon{
 grid-area: ArticleTopImgCon;
}
.ArticleTopMainHeadingCon{
 grid-area: ArticleTopMainHeadingCon;
}
.containerContact{
  grid-area: containerContact;
}
.socialIcons{
grid-area: socialIcons;
}
.copyright{
 grid-area: copyright;
 text-align: center;
 font-family: 'Buenard', serif;
 font-size: 15px;
 border-top: 1px solid lightgrey;
 background-color: #ced0d1;
}
div.sub_buttonalign{
  text-align: center;
  display: block;
  margin-right: 20%;
  padding-top: 10px;
}
label{
  color: grey;
}
.row{
  color: grey;
}
p.designDividerCon{
  font-size: 35px;
  font-weight: bolder;
  text-align: center;
  color: lightgrey;
}
// .wlcomenoteCon{
//   border-bottom: 2px solid lightgrey;
// }

@media only screen and (min-width: 600px)  { /*If the screen size is 600px min or more show below layout */
 .topwrapperCon {
 display: grid;
 grid-template-columns: 1fr 1fr;
 grid-template-areas:
            "headclass headclass"
            "ArticleTopImgCon ArticleTopImgCon"
            "ArticleTopMainHeadingCon ArticleTopMainHeadingCon"
            "containerContact containerContact"
            "socialIcons socialIcons"
            "copyright copyright";

   }

    display:flex;
    flex-direction:row;
    flex-flow:row;
}

@media only screen and (max-width: 600px)  { /*If the screen size is 600px max or less show below layout */
.topwrapperCon {
display: grid;
grid-template-columns: 1fr;
grid-template-areas:
          "header"
          "ArticleTopImgCon"
          "ArticleTopMainHeading"
          "containerContact"
          "socialIcons"
          "copyright";

     padding: 10px;
     display: block;
     margin: 0;
    }

    label{
      font-size: 12px;
      color: grey;
    }
    div.sub_buttonalign{
      margin-right: 7%;
      margin-left: 20px;
    }
    div.col-25 {
      margin-left: 0;
    }
    div.mainHeadTopCon{
      font-size: 19px;
      padding-left: 10px;
      padding-right: 10px;
      color:#000;
      opacity: .7;
    }
    .headCon{

    }

}

/************** form styling *******/
   input[type=text], select, textarea {
       width: 100%;
       padding: 12px;
       border: 1px solid #aa884f;
       border-radius: 4px;
       resize: vertical;
   }

   label {
       padding: 12px 12px 12px 0;
       display: inline-block;
   }

   input[type=submit] {
       background-color: #aa884f;
       color: white;
       padding: 12px 20px;
       border: none;
       border-radius: 4px;
       cursor: pointer;
       float: right;
   }

   input[type=submit]:hover {
       background-color: grey; /* #45a049; */
   }

   .containerContact {
       border-radius: 5px;
       /* background-color: #f2f2f2; */
       padding: 20px;
  }

   .col-25 {
       float: left;
       /* width: 25%; */
       margin-top: 6px;
       margin-left: 25%;
   }

   .col-75 {
       float: left;
       width: 50%;
       margin-top: 6px;
   }

   /* Clear floats after the columns */
   .row:after {
       content: "";
       display: table;
       clear: both;
   }

   #subject{
     margin-left: 16px;
   }

   #email{
    margin-left: 10px;
   }

   /* Responsive layout - when the screen is less than 600px wide, make the two columns stack
    on top of each other instead of next to each other */
   @media screen and (max-width: 600px) {
       .col-25, .col-75, input[type=submit] {
           width: 100%;
           margin-top: 0;
           /* margin-left: -20; */
       }
       #subject{
         margin-left: 0;
       }
/* ********* Added updated 23/07/2018*****************/
.mainHeadTopCon{
  font-family: 'Cormorant Garamond', serif;
  font-size: 30px;
  padding-top: 10px;
}
.topheadingCon{
  font-size: 30px;
  color: #aa884f;
}
.headCon{
  font-size: 20px;
  font-weight: lighter;
}
#email{
 margin-left: 0;
}
/* *********End - Updated 23/07/2018*****************/
}

/* ************ UPDATED 23/07/2018************************     */

.mainHeadTopCon{
  color: #000;
  // opacity: .8;
  font-family: 'Cormorant Garamond', serif;
  font-size: 22px;
  text-align: center;
}
.topheadingCon{
  color: #aa884f;
  padding-top: 10px;
}
.headCon{
  padding-top: 0;
}
.mainImgCon{
  text-align: center;
}
.ArticleTopImgCon{
  text-align: center;
}
.emailcl{
  padding-right: 5px;
}


/*   media quireies for tablet 8 ipads (min-width: 768px) and (max-width: 1024px) */
@media (min-width: 768px) and (max-width: 1024px)  {
div.sub_buttonalign{
  margin-right: 15%;
}
.wlcomenoteCon{
  text-align: justify;
  font-size: 20px;
}
h1.mainHalignTop.mainHeadTopCon{
  font-size: 30px;
  }

}
/**************************************************************************************/

/* CONTACT page - toggle the images according to the screen size */
@media screen and (max-width: 600px) {
  .mainImgCon {
  display: none;
  }
}
@media screen and (min-width: 600px) {
  .mainImgConSmall {
  display: none;
  }
}
